{% extends "portfolioApp/base.html" %}

{% block body %}
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <hr>
    <p class="w3-opacity w3-center"><i></i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> Memphis, TN<br>
            <i class="fa fa-phone" style="width:30px"></i> Phone: 901-530-9965<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: cmadisonne@gmail.com<br>
        </div>
        <div class="w3-col m6">
            <div class="w3-half">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="w3-button w3-black w3-section w3-right" type="submit" value="SEND">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}